<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="database" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="com.zaxxer.hikari.HikariDataSource">
                <jdbcUrl><![CDATA[jdbc:mysql://leopard:8066/beta-zd1-catering-log-db?serverTimezone=GMT%2B8&useSSL=true]]></jdbcUrl>
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
                <username>root</username>
                <password>root</password>
                <autoCommit>true</autoCommit>
                <minimumIdle>10</minimumIdle>
                <maximumPoolSize>30</maximumPoolSize>
                <idleTimeout>30000</idleTimeout>
                <maxLifetime>1800000</maxLifetime>
                <connectionTimeout>30000</connectionTimeout>
            </dataSource>
        </connectionSource>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="database"></appender-ref>
    </appender>

    <root level="INFO">
        <appender-ref ref="async"></appender-ref>
    </root>
</configuration>