<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="erp.chain.mappers.WeiXinPayConfigurationMapper">
    <insert id="insert" parameterType="erp.chain.domains.WeiXinPayConfiguration" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wei_xin_pay_configuration(tenant_id, branch_id, wei_xin_pay_app_id,
        wei_xin_pay_mch_id, wei_xin_pay_key, wei_xin_pay_sub_app_id,
        wei_xin_pay_sub_mch_id, create_user_id, last_update_user_id)
        VALUES (#{tenantId}, #{branchId}, #{weiXinPayAppId},
        #{weiXinPayMchId}, #{weiXinPayKey}, #{weiXinPaySubAppId},
        #{weiXinPaySubMchId}, #{createUserId}, #{lastUpdateUserId})
    </insert>

    <update id="update" parameterType="erp.chain.domains.WeiXinPayConfiguration">
        UPDATE wei_xin_pay_configuration
        SET tenant_id = #{tenantId},
        branch_id = #{branchId},
        wei_xin_pay_app_id = #{weiXinPayAppId},
        wei_xin_pay_mch_id = #{weiXinPayMchId},
        wei_xin_pay_key = #{weiXinPayKey},
        wei_xin_pay_sub_app_id = #{weiXinPaySubAppId},
        wei_xin_pay_sub_mch_id = #{weiXinPaySubMchId},
        last_update_user_id = #{lastUpdateUserId}
        WHERE id = #{id}
    </update>

    <select id="findByTenantIdAndBranchId" resultType="erp.chain.domains.WeiXinPayConfiguration">
        SELECT * FROM wei_xin_pay_configuration WHERE tenant_id = #{tenantId} AND branch_id = #{branchId} AND deleted = 0
    </select>
</mapper>