@charset "utf-8";
/* CSS Document */
/*清除重置浏览器默认样式*/
body{margin:0;padding:0;border:0;font-size:14px;font-family:"微软雅黑";color:#52585b;background:#fff;}
span,h1,h2,h3,h4,h5,h6,p,a,em,img,dl,dt,dd,ol,ul,li,form,label,table,tbody,tfoot,thead,tr,th,td,img,button,input{margin:0;padding:0;border:0;list-style:none;}
address,caption,cite,code,dfn,em,i,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
textarea{resize:none;overflow:auto;}
a:link,a:visited{color:#01aaef;text-decoration:none;}
input, img,select{vertical-align:middle;}
th,td{display:table-cell;font-style:normal;font-weight:400;text-align:center;vertical-align:middle;font-size:12px;}
img,i{border:0 none;height:auto;vertical-align:middle;}
button{font-family:"微软雅黑";}